<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Engr.Muhammad Fayyaz" />
    <meta name="description"
        content="Codesinc is a leading software house dedicated to delivering innovative solutions for businesses across various industries. With a team of highly skilled developers and technology enthusiasts, we specialize in creating custom software applications tailored to meet the unique needs and challenges of our clients." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="favicons/9477-images-icon.png" />
    <title>Codesinc: Work</title>
    <link href="css/css-royal_preloader.css" rel="stylesheet" />
    <script type="text/javascript" src="js/3.1.0-jquery.min.js"></script>
    <script type="text/javascript" src="js/197-js-parallax.min.js"></script>
    <script src="js/2.1.2-iconify.min.js"></script>
    <script src="js/1.6.0-slick.js"></script>
    <script type="text/javascript" src="js/3880-js-royal_preloader.min.js"></script>
    <script type="text/javascript">
        Royal_Preloader.config({
            mode: "number",
            showProgress: false,
            background: "#1d1d1d",
        });
    </script>
    <link href="css/css-bootstrap.min.css" rel="stylesheet" />
    <link href="css/css-ionicons.min.css" rel="stylesheet" />
    <link href="css/css-pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="css/css-magnific-popup.css" rel="stylesheet" />
    <link href="css/css-logoiconfont.css" rel="stylesheet" />
    <link href="css/css-style.css" rel="stylesheet" title="main-css" />
    <link href="css/css-style-switcher.css" rel="stylesheet" />
    <link href="css/css-new-custom.css" rel="stylesheet" />
    <link rel="canonical" href="https://codes-inc.com/" />
    <link rel="alternate stylesheet" type="text/css" href="css/colors/blue.css" title="blue" />
    <link rel="alternate stylesheet" type="text/css" href="css/colors/green.css" title="green" />
    <link rel="alternate stylesheet" type="text/css" href="css/colors/orange.css" title="orange" />
    <link rel="alternate stylesheet" type="text/css" href="css/colors/red.css" title="red" />
    <link rel="alternate stylesheet" type="text/css" href="css/colors/orangelight.css" title="orangelight" />
    <link rel="alternate stylesheet" type="text/css" href="css/colors/pinkish.css" title="pinkish" />
    <link rel="alternate stylesheet" type="text/css" href="css/colors/seagul.css" title="seagul" />
    <link rel="alternate stylesheet" type="text/css" href="css/base-light.css" title="base-light" />
</head>

<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="70">
    <div id="royal_preloader"></div>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand scroll-link" href="/" data-id="home"><img class="full-logo-home"
                                title="logo1" src="images/full-logo.jpg" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/" data-id="#" class="scroll-link">Home</a>
                            </li>
                            <li>
                                <a href="/" data-id="ideology" class="scroll-link">Ideology</a>
                            </li>
                            <li>
                                <a href="/" data-id="services" class="scroll-link">Services</a>
                            </li>
                            <li>
                                <a href="/" data-id="about" class="scroll-link">About</a>
                            </li>
                            <li>
                                <a href="#work" data-id="work" class="scroll-link">Work</a>
                            </li>
                            <li>
                                <a href="/" data-id="team" class="scroll-link">Team</a>
                            </li>
                            <li>
                                <a href="/" data-id="contact" class="scroll-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- App Development -->
    <section id="work" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title text-center">
                    <h3>App Development</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center mb50"></div>
            </div>
            <div id="thework">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="3">
                    <div class="portfolio-image-holder">
                        <img style="height: 200px;background-size: cover; object-fit:cover; "
                            src="images/app-image2.png" title="GharPar  At Home Beauty Salon" alt="1"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://play.google.com/store/apps/details?id=com.onebyte.gharpar  "
                                target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/app-image2.png" class="zoom" title="Equipt Design"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">GharPar At Home Beauty Salon</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="6">
                    <div class="portfolio-image-holder">
                        <img style="height: 200px;background-size: cover; object-fit:cover; "
                            src="images/app-image3.png" title="Uber Driver" alt="2"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://play.google.com/store/apps/details?id=com.warshatec.uber_driver    "
                                target="_blank" title="qodeinteractive"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/app-image3.png" class="zoom" title="Goodman's Burger"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Uber Driver</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix identity"
                    data-my-order="4">
                    <div class="portfolio-image-holder">
                        <img style="height: 200px;background-size: cover; object-fit:cover; "
                            src="images/app-image4.png" title="Apni Sawari - Book Cab & Ride" alt="3"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://play.google.com/store/apps/details?id=com.apnisawari.customerApp   "
                                target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/app-image4.png" class="zoom" title="Paper Mockup"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Apni Sawari - Book Cab & Ride</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="5">
                    <div class="portfolio-image-holder">
                        <img style="height: 200px;background-size: cover; object-fit:cover; "
                            src="images/app-image5.png" title="FitHero - Gym Workout Tracker" alt="4"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://play.google.com/store/apps/details?id=com.fnp.fithero"
                                target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/app-image5.png" class="zoom" title="Glen Wood"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">FitHero - Gym Workout Tracker</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="2">
                    <div class="portfolio-image-holder">
                        <img style="height: 200px; width: 350px; background-size: cover; object-fit:unset;"
                            src="images/app-image6.png" title="PakWheels: Buy & Sell Cars" alt="5"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://play.google.com/store/apps/details?id=com.pakwheels    "
                                target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/app-image6.png" class="zoom" title="Wine Bottles"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">PakWheels: Buy & Sell Cars</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="1">
                    <div class="portfolio-image-holder">
                        <img style="height: 200px;background-size: cover;  " src="images/app-image7.png" alt="6"
                            title="WhatsCash - Earn Fixed Profit" class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://play.google.com/store/apps/details?id=com.whatscash" target="_blank"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/app-image7.png" class="zoom" title="Web UI"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">WhatsCash - Earn Fixed Profit</span></span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <!-- App Development  End  -->



    <!-- WordPress Development -->
    <section id="work" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title text-center">
                    <h3>WordPress Development</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center mb50"></div>
            </div>
            <div id="thework">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="3">
                    <div class="portfolio-image-holder">
                        <img src="images/wordpress/wordpress-work-1.jpeg" title="Rollover" alt="1"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://rollover.com.pk/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/wordpress/wordpress-work-1.jpeg" class="zoom" title="Equipt Design"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Rollover</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="6">
                    <div class="portfolio-image-holder">
                        <img src="images/wordpress/Residence-work-word-2.jpeg" title="Residence" alt="2"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://hendon.qodeinteractive.com/" target="_blank" title="qodeinteractive"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/wordpress/Residence-work-word-2.jpeg" class="zoom"
                                title="Goodman's Burger"><span class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Residence</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix identity"
                    data-my-order="4">
                    <div class="portfolio-image-holder">
                        <img src="images/wordpress/work-wordpress-3.jpeg" title="Kitchen By You" alt="3"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://www.primopiano.com/it/" target="_blank"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/wordpress/work-wordpress-3.jpeg" class="zoom" title="Paper Mockup"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Kitchen by you</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="5">
                    <div class="portfolio-image-holder">
                        <img src="images/wordpress/wordpress-work-4.jpeg" title="Glen Wood" alt="4"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://theglenwoodjh.com/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/wordpress/wordpress-work-4.jpeg" class="zoom" title="Glen Wood"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Glenwood</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="2">
                    <div class="portfolio-image-holder">
                        <img src="images/wordpress/the house is rented-wordpress-5.jpeg" title="the house is rented"
                            alt="5" class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://belyi-ostrov.house/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/wordpress/the house is rented-wordpress-5.jpeg" class="zoom"
                                title="Wine Bottles"><span class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">the house is rented</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="1">
                    <div class="portfolio-image-holder">
                        <img src="images/wordpress/arcline wordpress-6.jpeg" alt="6" title="mohagni"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://arclinea.com/it/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/wordpress/arcline wordpress-6.jpeg" class="zoom" title="Web UI"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Arclinea</span></span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- App Development End -->


    <!-- WebFlow  -->

    <section id="work" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title text-center">
                    <h3>WebFlow</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center mb50"></div>
            </div>
            <div id="thework">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="3">
                    <div class="portfolio-image-holder">
                        <img src="images/Webflow/webflow1.png" title="MONDAYS" alt="1"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://mondayscoffee.webflow.io/    " target="_blank"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Webflow/webflow1.png" class="zoom" title="Equipt Design"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">MONDAYS</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="6">
                    <div class="portfolio-image-holder">
                        <img src="images/Webflow/webflow2.png" title="Hōne Naera-Scott" alt="2"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://www.honenaerascott.com/    " target="_blank"
                                title="Hōne Naera-Scott"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Webflow/webflow2.png" class="zoom" title="Goodman's Burger"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">Hōne Naera-Scott</span></span>
                    </span>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix identity"
                    data-my-order="4">
                    <div class="portfolio-image-holder">
                        <img src="images/Webflow/webflow3.png" title="strava" alt="3"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://business.strava.com/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Webflow/webflow3.png" class="zoom" title="Paper Mockup"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">strava</span></span>
                    </span>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="2">
                    <div class="portfolio-image-holder">
                        <img src="images/Webflow/webflow4.png" title="thefurrow.tv" alt="5"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://thefurrow.tv/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Webflow/webflow4.png" class="zoom" title="Wine Bottles"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">thefurrow.tv</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="3">
                    <div class="portfolio-image-holder">
                        <img src="images/Webflow/webflow1.png" title="MONDAYS" alt="1"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://mondayscoffee.webflow.io/    " target="_blank"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Webflow/webflow1.png" class="zoom" title="Equipt Design"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">MONDAYS</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="1">
                    <div class="portfolio-image-holder">
                        <img src="images/Webflow/webflow5.png" alt="6" title="mohagni"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://business.strava.com/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Webflow/webflow5.png" class="zoom" title="strava"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">strava</span></span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- WebFlow End -->


    <!-- Shopify -->
    <section id="work" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title text-center">
                    <h3>Shopify</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center mb50"></div>
            </div>
            <div id="thework">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="3">
                    <div class="portfolio-image-holder">
                        <img src="images/Shopify/shopify1.png" title="silkandwillow" alt="1"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://www.silkandwillow.com/" target="_blank"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Shopify/shopify1.png" class="zoom" title="silkandwillow"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">silkandwillow</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="6">
                    <div class="portfolio-image-holder">
                        <img src="images/Shopify/shopify2.png" title="Residence" alt="2"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://bohme.com/" target="_blank" title="qodeinteractive"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Shopify/shopify2.png" class="zoom"
                                title="Goodman's Burger"><span class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">bohme</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix identity"
                    data-my-order="4">
                    <div class="portfolio-image-holder">
                        <img src="images/Shopify/shopify3.png" title=" unconditional" alt="3"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://www.unconditional.uk.com/" target="_blank"><span
                                    class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Shopify/shopify3.png" class="zoom" title="unconditional"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">unconditional </span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix graphics"
                    data-my-order="5">
                    <div class="portfolio-image-holder">
                        <img src="images/Shopify/shopify4.png" title="sirthelabel" alt="4"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">Client</span><span class="portfolio-hover"><span><a
                                href="https://us.sirthelabel.com/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Shopify/shopify4.png" class="zoom" title="sirthelabel"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">sirthelabel</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix print identity"
                    data-my-order="2">
                    <div class="portfolio-image-holder">
                        <img src="images/Shopify/shopify5.png" title="singulart" alt="5"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://www.singulart.com/en/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Shopify/shopify5.png" class="zoom"
                                title="Wine Bottles"><span class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">singulart</span></span>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-box no-padding mix web" data-my-order="1">
                    <div class="portfolio-image-holder">
                        <img src="images/Shopify/shopify6.png" alt="6" title="soicher-marin"
                            class="img-responsive portfolio-image" />
                    </div>
                    <span class="portfolio-badge badge">client</span><span class="portfolio-hover"><span><a
                                href="https://www.singulart.com/en/" target="_blank"><span class="portfolio-links"><span
                                        class="ion-ios-arrow-right portfolio-links-icons"></span></span> </a><a
                                href="images/Shopify/shopify6.png" class="zoom" title="Web UI"><span
                                    class="portfolio-links"><span
                                        class="ion-arrow-expand portfolio-links-icons"></span></span></a><span
                                class="project-title no-margin-bottom mt10">soicher-marin</span></span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- Shopify End -->


    <!-- Footer -->
    <footer class="background1 footer-padding">
        <div class="logo-footer">
            <img class="full-logo" src="images/full-logo.jpg" />
        </div>
        <div class="container">
            <div class="row mb30">
                <div class="col-sm-3 mt30-xs">
                    <br />
                    <br />
                    <p class="no-margin text-switch">
                        With our core foundation in exceptional digitalization,
                        our team of perceptive experts drives every business to
                        perform in unison.
                    </p>
                </div>
                <div class="col-sm-3 mt30-xs">
                    <h5 class="heading-1 mb20">Social</h5>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/codesincpak"><i
                                    class="ion-social-facebook"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/codesinc_pakistan/"><i
                                    class="ion-social-instagram-outline"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://wa.me/+923013887598"><i
                                    class="ion-social-whatsapp-outline"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/company/codesinc/?viewAsMember=true"><i
                                    class="ion-social-linkedin-outline"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 mt30-xs">
                    <h5 class="heading-1 mb20">Contact Us</h5>
                    <h5 class="mb15">
                        Office Number 1 Huzaifa Town, Islamia university RYK
                        campus Road
                    </h5>
                    <p class="text-xs-small mb5">
                        <strong class="text-switch">Email:</strong>
                        helpDesk@codes-inc.com
                    </p>
                    <p class="text-xs-small mb5">
                        <strong class="text-switch">Mobile:</strong> +92 301
                        3887598
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <em class="text-small">Copyright &copy; 2021 All rights reserved by
                        Codesinc</em>
                    <p class="text-switch no-margin">&copy; 2021</p>
                </div>
            </div>
        </div>
    </footer>












    <script data-cfasync="false" src="js/cloudflare-static-email-decode.min.js"></script>
    <script type="text/javascript" src="js/408-js-bootstrap.min.js"></script>
    <script type="text/javascript">
        function initMap() {
            var mapOptions = {
                zoom: 15,
                zoomControl: false,
                scaleControl: false,
                scrollwheel: false,
                disableDoubleClickZoom: true,
                center: new google.maps.LatLng(
                    31.524852662531778,
                    74.38366099801293
                ),
                styles: [
                    {
                        featureType: "landscape",
                        stylers: [
                            {
                                saturation: -100,
                            },
                            {
                                lightness: 65,
                            },
                            {
                                visibility: "on",
                            },
                        ],
                    },
                    {
                        featureType: "poi",
                        stylers: [
                            {
                                saturation: -100,
                            },
                            {
                                lightness: 51,
                            },
                            {
                                visibility: "simplified",
                            },
                        ],
                    },
                    {
                        featureType: "road.highway",
                        stylers: [
                            {
                                saturation: -100,
                            },
                            {
                                visibility: "simplified",
                            },
                        ],
                    },
                    {
                        featureType: "road.arterial",
                        stylers: [
                            {
                                saturation: -100,
                            },
                            {
                                lightness: 30,
                            },
                            {
                                visibility: "on",
                            },
                        ],
                    },
                    {
                        featureType: "road.local",
                        stylers: [
                            {
                                saturation: -100,
                            },
                            {
                                lightness: 40,
                            },
                            {
                                visibility: "on",
                            },
                        ],
                    },
                    {
                        featureType: "transit",
                        stylers: [
                            {
                                saturation: -100,
                            },
                            {
                                visibility: "simplified",
                            },
                        ],
                    },
                    {
                        featureType: "administrative.province",
                        stylers: [
                            {
                                visibility: "off",
                            },
                        ],
                    },
                    {
                        featureType: "water",
                        elementType: "labels",
                        stylers: [
                            {
                                visibility: "on",
                            },
                            {
                                lightness: -25,
                            },
                            {
                                saturation: -100,
                            },
                        ],
                    },
                    {
                        featureType: "water",
                        elementType: "geometry",
                        stylers: [
                            {
                                hue: "#ffff00",
                            },
                            {
                                lightness: -25,
                            },
                            {
                                saturation: -97,
                            },
                        ],
                    },
                ],
            };
            var mapElement = document.getElementById("map");
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(
                    31.524852662531778,
                    74.38366099801293
                ),
                map: map,
                title: "Our Office!",
            });
        }
    </script>
    <script type="text/javascript" src="js/4466-js-particles.min.js"></script>
    <script type="text/javascript" src="js/6647-js-particlesRun.js"></script>
    <script type="text/javascript" src="js/9653-js-jquery.mixitup.js"></script>
    <script type="text/javascript" src="js/7313-js-form-validator.min.js"></script>
    <script type="text/javascript" src="js/9819-js-jquery.inview.min.js"></script>
    <script type="text/javascript" src="js/4683-js-jquery.countTo.js"></script>
    <script type="text/javascript">
        $("#ourcount").one("inview", function (event, isInView) {
            if (isInView) {
                $(".timer").countTo({
                    speed: 3000,
                });
            }
        });
    </script>
    <script type="text/javascript" src="js/220-js-jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/9531-js-scrollreveal.min.js"></script>
    <script type="text/javascript" src="js/5807-js-style-switcher.js"></script>
    <script type="text/javascript" src="js/4358-js-main.js"></script>
    <script>
        $(document).ready(function () {
            $(".customer-logos").slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4,
                        },
                    },
                    {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 3,
                        },
                    },
                ],
            });
        });
    </script>
    </div>
    </div>
    </section>
    </div>
    <div class="whatsapp-icon">
        <a href="https://api.whatsapp.com/send?phone=923013887598"><img src="images/whatsapp-icon.png"
                alt="contact us" /></a>
    </div>

</body>

</html>